# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.env

# Jupyter
.ipynb_checkpoints/

# ML model files
*.pkl
*.joblib
*.h5
*.keras
*.pt
*.pth
*.onnx

# Large datasets
*.csv
*.zip
*.tar.gz

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db